*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'EncodeSansSemiExpanded';
  src: url('../public/EncodeSansSemiExpanded-Regular.ttf') format('truetype');
  font-weight: 400; /* normal */
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSansSemiExpanded';
  src: url('../public/EncodeSansSemiExpanded-Medium.ttf') format('truetype');
  font-weight: 500; /* medium */
  font-style: normal;
}

@font-face {
  font-family: 'EncodeSansSemiExpanded';
  src: url('../public/EncodeSansSemiExpanded-SemiBold.ttf') format('truetype');
  font-weight: 600; /* semi-bold */
  font-style: normal;
}


body {
  font-family: 'EncodeSansSemiExpanded', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
button{
    font-family: 'EncodeSansSemiExpanded', sans-serif;
}

.App-header {
    background-image: url(../public/hero-dermascan.jpg);
    background-size: cover;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h2{
    font-weight: 400;
    margin-bottom: 30px;
}
.App-header h3{
  align-items: center;
  text-align: center;
  font-size: 25px;
  width: 50vw;
  font-weight: 400;
  margin-bottom: 30px;
}
.h1title{
  font-size: 80px;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  margin-bottom: 0;
  margin-bottom: 30px;
}
.button1{
  background-color: #2E56B3;
  font-size: 45px;
  padding: 25px 35px;
  color: #fff;
  border: none;
  font-weight: 500;
  border-radius: 40px;
}
.div1 h1{
  text-align: center;
  align-items: center;
  font-size: 80px;
  color: #222;
  margin-top: 40px;
  margin-bottom: 25px;
}
.div1 h2{
  text-align: center;
  align-items: center;
  font-size: 35px;
  color: #424242;
  font-weight: 400;
 padding: 5px 15vw;
 margin-bottom: 30px;
}
.imgmelanoma{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
}
.divimg{
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.lidiv1{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20vw;
}
.lidiv1 h3{
  font-size: 35px;
  font-weight: 400;
  padding-left: 20px;
}
.pdiv1{
  font-size: 20px;
  margin: 20px 20vw;
}
.div2{
  background-color: #004DFF;
}
.div2 h1{
  color: #fff;
  font-size: 80px;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 80px;
}
.h2div2{
  color: #fcfcfc;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  margin: 0 15vw;
}
.divdiv2{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 25vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border-radius: 25px;
  height: 40vh;
}
.divdiv2 *{
  padding-bottom: 15px;
}
.divdiv2 h2{
  font-size: 25px;
}
.divarribadiv2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10vh 5vw;
  margin-bottom: 5vh;
}
.divabajodiv2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10vh 5vw;
  padding-bottom: 10vh;
}
.divabajodiv2 div{
  margin: 0 3vw;
}
.div3{
  padding-bottom: 70px;
}
.div3 h1{
  text-align: center;
  align-items: center;
  font-size: 80px;
  color: #222;
  margin-top: 40px;
  margin-bottom: 25px;
}
.div3 h2{
  text-align: center;
  align-items: center;
  font-size: 35px;
  color: #424242;
  font-weight: 400;
 padding: 5px 15vw;
 margin-bottom: 30px;
}
.divdiv3{
display: flex;
flex-direction: column;
align-items: center;
width: 30vw;
text-align: center;
box-shadow: 2px 2px 5px #00000066;
padding: 30px;
padding-bottom: 60px;
border-radius: 35px;
}
.divdiv3 *{
  margin-bottom: 30px;
}
.divdiv3 h3{
  font-weight: 600;
  font-size: 30px;
}
.pdiv3{
  font-size: 20px;
  margin: auto 10%;
}
.containerdiv3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5vh 3vw;
}
.numdiv3{
font-size: 25px;
font-weight: 600;
}

.div4h1{
  align-items: center;
  font-size: 70px;
  color: #222;
  margin-top: 40px;
  margin-bottom: 25px;
  padding-right: 20%;
  padding-top: 10vh;
  margin-left: 3vw;
  padding-bottom: 5vh;
}
.div4{
  background-color: #F1F1F1;
  padding-bottom: 50px;

}
.containerdiv4{
  display: flex;
  flex-direction: row;
}
.leftdiv4{
  width: 50%;
  padding-right: 25px;
  margin-left: 15px;
}
.leftdiv4 h3{
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 30px;
}
.leftdiv4 ul{
  list-style: none;
}
.uldiv4 li{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
  font-size: 18px;
}
.divcontdiv4{
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-between;
}
.divcontdiv4 div{
display: flex;
flex-direction: column;
align-items: center;
width: 20vw;
text-align: center;
box-shadow: 2px 2px 5px #00000066;
padding: 30px;
padding-bottom: 60px;
border-radius: 35px;
}
.rightdiv4{
  width: 50vw;
  padding-right: 5vw;
}
.titlediv4{
  font-size: 70px;
  color: #4C81FF;
}
.div5-6{
  margin-top: 0;
  background: linear-gradient(
    to bottom right, 
    rgba(46, 86, 179, 0.64) 0%,   /* #2E56B3 con opacidad 0% */
    rgba(46, 86, 179, 1) 100%  /* #2E56B3 sólido */
  );
}
.div5 h1{
  text-align: center;
  align-items: center;
  font-size: 80px;
  color: #fff;
  padding-top: 50px;
  margin-bottom: 25px;
}
.div5 h2{
  text-align: center;
  align-items: center;
  font-size: 30px;
  color: #fcfcfc;
  font-weight: 400;
  margin: auto 20vw;
  padding-top: 50px;
  margin-bottom: 25px;
}
.buttonandroid{
  background-color: #A4C639;
  color: #fff;
  margin-right: 20px;
  flex-direction: row;
    box-shadow: 2px 2px 5px #00000066;

}
.buttonios{
  background-color: #fff;
  color: #000;
  flex-direction: row;
  box-shadow: 2px 2px 5px #00000066;

}
.buttonsdiv5{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 35px;
  
}
.buttonsdiv5 *{
  display: flex;
  width: 25vw;
  height: 8vh;
  font-size: 25px;
  border: none;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  
}
.imgbtn{
  height: 80%;
  width: auto;
}
.divsdiv5{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 20vw;
  margin-bottom: 15vh;
}
.divsdiv5 div{
  color: #fff;
  align-items: center;
  font-weight: 400;
  justify-content: center;
  text-align: center;
}
.divdiv5 img{
width: 75px;
}
.divdiv5 h3{
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.divdiv5 p{
font-size: 15px;
}
.div6 h1{
  text-align: center;
  align-items: center;
  font-size: 80px;
  color: #fff;
  padding-top: 50px;
  margin-bottom: 25px;
}
.div6 h3{
  font-size: 40px;
  color: #fff;
  margin-bottom: 25px;
  margin-left: 5vw;
}
.div6 p{
  font-size: 20px;
  color: #fcfcfc;
  margin-bottom: 25px;
  margin-left: 2.5vw;
  margin-right: 20vw;
}
.div6{
  padding-bottom: 15vh;
}